<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="starter-template.css" rel="stylesheet">
  <link href="custom.css" rel="stylesheet">

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
          crossorigin="anonymous"></script>

  <title>게시글 상세 정보</title>

</head>

<body>
  <div th:replace="/fragments/layout.html :: fragment-nav"></div>

  <div class="board">
    <div class="container" style="padding-top: 130px; padding-left: 230px;">
      <div class="row">
        <form method="post" enctype="multipart/form-data">
          <table class="table table-striped"
                 style="text-align: center; border: 1px solid #dddddd;">
            <thead>
            <tr>
              <th colspan="2" style="background-color: #eeeeee; width: 787px; margin-left: auto;
                    margin-right: auto; text-align: center;">게시판 글 보기</th>

            </tr>
            </thead>
            <tbody>
              <tr>
                <td>글 제목</td>
                <td th:text="${board.title}">글 제목</td>
              </tr>
              <tr>
                <td>작성자</td>
                <td th:text="${board.userId}">작성자</td>
              </tr>
              <tr>
                <td>작성일자</td>
                <td th:text="${board.updateDtText}">작성일자</td>
              </tr>
              <tr>
                <td>조회수</td>
                <td th:text="${board.countVisit}">조회수</td>
              </tr>
              <tr>
                <td>내용</td>
                <td th:text="${board.content}"
                    colspan="2" style="min-height:30px; text-align: center;">내용</td>
              </tr>
            </tbody>
          </table>
          <p></p>
          <div>
            <span><a href="/board/list" class="btn btn-dark">목록으로</a></span>
            <span th:if="${board.userId} == ${board.getLoginId()} ">
              <a th:href="'edit?postNumber=' + ${board.postNumber}" class="btn btn-primary">글 수정</a></span>
            <span th:unless="${board.userId} != ${board.getLoginId()} "></span>
          </div>
        </form>
      </div>
    </div>
  </div>

</body>
</html>