<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원 활성화</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
        crossorigin="anonymous">

  <!-- Bootstrap CSS -->
  <link href="starter-template.css" rel="stylesheet">
  <link href="custom.css" rel="stylesheet">

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
          crossorigin="anonymous"></script>
</head>
<body>
  <div class="jumbotron">
    <div th:if="${result eq true}">
      <h1 class="display-4">회원 가입 완료</h1>
      <p class="lead">회원님의 계정이 활성화 되었습니다.</p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="/" role="button">메인으로 돌아가기</a>
    </div>

    <div th:if="${result eq false}">
      <h1 class="display-4">회원 가입 실패</h1>
      <p class="lead">회원님의 계정이 활성화에 실패하였습니다.</p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="/" role="button">메인으로 돌아가기</a>
    </div>
  </div>
</body>
</html>